#modal {
  position: relative;
  z-index: 999;
}

.modal {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.modal-container {
  position: absolute;
  background: #ffffff;
  border-radius: 0.3125rem;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  margin: 2%;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}