
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 10px;
  width: 100%;
  min-height: 100vh; 
  border-radius:5px;
  animation: fadeIn 1s;
  background: #e5e5e5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}